node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
.git
.github
.vscode
.idea
*.md
docs
.env
.env.local
.env.*.local
.env.test
!.env.example
**/*.tsbuildinfo
**/.turbo
infrastructure/nginx/ssl/*.pem
infrastructure/nginx/ssl/*.key
*.log
.DS_Store
